@{
    string _content = Url.Content("~/Content");
}

<!DOCTYPE html>

<html ng-app="app" ng-controller="myController" class="dark">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editor_Layout</title>
    <link href="@_content/css/EditorStyle.min.css" rel="stylesheet" />
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet'>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- JsonEditor -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.7/jsoneditor.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.7/jsoneditor.min.js"></script>
    <link href="https://unpkg.com/jsoneditor@9.2.0/examples/css/darktheme.css" rel="stylesheet" type="text/css">

    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <!-- Modal New -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create a new project</h5>
                    <button type="button" class="close" aria-label="Close" ng-click="closeModal('myModal')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="project-type">
                        Project Type
                        <ul>
                            <li ng-repeat="item in projectType" ng-click="showFavType(item)" ng-class="{ 'selected': item === selectedProject }">
                                <div class="project-icon"><i ng-bind-html="item.icon"></i></div>
                                <div class="project-content">
                                    <div class="content-name">{{item.name}}</div>
                                    <p>
                                        {{item.description}}
                                    </p>
                                    <div class="content-platforms">
                                        <span ng-repeat="platform in item.platforms">{{platform}}</span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="project-fav-type">
                        Favori Project Type
                        <ul>
                            <li ng-repeat="favItem in selectedFavType" ng-click="ClickFavItem(favItem)" ng-class="{ 'selected': favItem === selectedProjectFav }">
                                <div class="project-fav-content">
                                    <span class="fav-icon">
                                        <i ng-bind-html="trustHtml(favItem.favIcon)"></i> <span class="fav-name">{{favItem.favName}}</span>
                                    </span>
                                    <span class="fav-type">{{favItem.favtype}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeModal('myModal')">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="openDifferentModal()" ng-disabled="!isNextButtonEnabled">Next</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal New End -->
    <!-- Modal New Configure -->
    <div id="configureModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Configure your new project</h5>
                    <button type="button" class="close"  ng-click="closeModal('configureModal')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="content-header" ng-if="selectedContentHeader">
                        <div class="header-title">{{ selectedContentHeader.title }}</div>
                        <div class="header-platforms">
                            <span>{{ selectedContentHeader.platform }}</span>
                        </div>

                    </div>

                    <div class="content-input">
                        <table>
                            <tr>
                                <td class="input-name">Project Name</td>
                                <td><input type="text" name="name" value="" /></td>
                            </tr>
                            <tr>
                                <td class="input-name">Solution Name</td>
                                <td><input type="text" name="solution" value="" /></td>
                            </tr>
                            <tr>
                                <td class="input-name">Name</td>
                                <td><input type="text" name="name2" value="" /></td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="backModal()">Back</button>
                    <button type="button" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal New Content End -->
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="image">
                    <img class="favicon" src="@_content/img/logoG.jpg" />
                </span>
            </a>
            <div class="collapse navbar-collapse"
                 id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            File
                        </a>
                        <ul class="dropdown-menu"
                            aria-labelledby="navbarDropdown">
                            <li"><a class="dropdown-item" ng-click="openModal()" href="#">New</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Open
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Something
                            else here
                        </a>
                    </li>
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Edit</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        View
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Another
                                action
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Something
                                else here
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Project
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Another
                                action
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                Something
                                else here
                            </a>
                        </li>
                    </ul>
                </li>
                </ul>
                <!-- Settings -->
                <div class="settings-icon d-flex">
                    <span class="btn btn-icon" role="button">
                        <i class='bx bx-search-alt-2'></i>
                    </span>
                    <span class="btn btn-icon" role="button">
                        <i class='bx bxs-cog'></i>
                    </span>
                    <span class="btn btn-icon" role="button">
                        <i class='bx bx-bell' style='color:#0a0909'></i>
                    </span>
                    <span class="btn btn-icon" role="button">
                        <img class="favicon" src="@_content/img/logoG.jpg" />
                    </span>
                </div>
            </div>

        </div>
    </nav>

    <div class="DockInContainer">
        <div class="slot left">
            <ng-dock-panel title="Projeler" id="proje">

                <div ng-repeat="(index, item) in contentsItems" class="contents-item" ng-class="{'active': item.isActive}">
                    <div class="item-head-name-wrapper">
                        <div class="item-toggle-btn" ng-click="toggleItem(item)"><i class="icon-arrow-right"></i></div>
                        <div class="item-head-name"><i class="icon-folder-alt"></i>{{item.name}}</div>
                        <div class="item-head-fav" ng-click="addNewItemContent(item)"><i class="icon-plus"></i></div>
                    </div>

                    <div class="item-content" ng-show="item.isActive">
                        <div class="sub-content">
                            <div class="item-toggle-btn" ng-click="toggleItems(item.orderItems)"><i class="icon-arrow-right"></i></div>
                            <div class="item-head-name" onclick="redirectToOrder()"><i class="icon-folder-alt"></i>{{item.content}}</div>                            
                            <div class="item-head-fav">
                                <i class="icon-plus" ng-click="toggleSubItemMenu($event, item)"></i>
                                <div class="sub-item-menu" ng-show="item.showSubItemMenu">
                                    <div ng-click="addOrder(item, 'POST')">Create POST</div>
                                    <div ng-click="addOrder(item, 'GET')">Create GET</div>
                                </div>
                            </div>                        
                        </div>
                        <!-- Eklenen yeni içerikleri göster -->
                        <div ng-repeat="subContent in item.orderItems" class="sub-content-item" ng-show="subContent.isActive">
                            <div class="item-toggle-btn"><i class='bx bx-code-alt'></i></div>
                            <div class="item-head-name">{{subContent.name}}</div>
                        </div>
                    </div>
                    <!-- Eklenen yeni içerikleri göster -->
                    <div ng-repeat="content in item.contents" class="item-content" ng-show="content.isActive">
                        <div class="sub-content">
                            <div class="item-toggle-btn" ng-click="toggleItems(content.contents)"><i class="icon-arrow-right"></i></div>
                            <div class="item-head-name" ><i class="icon-folder-alt"></i>{{content.content}}</div>
                            <div class="item-head-fav">
                                <i class="icon-plus" ng-click="toggleSubItemMenu($event, content)"></i>
                                <div class="sub-item-menu" ng-show="content.showSubItemMenu">
                                    <div ng-click="addSubItemContent(content, 'POST')">Create POST</div>
                                    <div ng-click="addSubItemContent(content, 'GET')">Create GET</div>
                                </div>
                            </div>
                        </div>
                        <!-- Eklenen yeni içerikleri göster -->
                        <div ng-repeat="subContent in content.contents" class="sub-content-item" ng-show="subContent.isActive">
                            <div class="item-toggle-btn"><i class='bx bx-code-alt'></i></div>
                            <div class="item-head-name">{{subContent.name}}</div>
                        </div>
                    </div>

                </div>

            </ng-dock-panel>
        </div>
        <div class="slot-container">
            <div class="slot top">
                @Html.Partial("titleNavbar")
            </div>
            <div class="slot fiil">
                @RenderBody()
            </div>
            <div class="slot bottom">3</div>

        </div>
        <div id="slot-right" class="slot right">
            <ng-dock-panel title="Özellikler" id="ozellik">

                <div class="properties-item">

                    <div class="properties-table">
                        <table class="table table-dark table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row">Browse to URL</th>
                                    <td><input type="text" name="url" value="" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">ID</th>
                                    <td><input type="number" name="id" value="" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">Copy to Output Directory</th>
                                    <td>
                                        <select>
                                            <option value="value">....</option>
                                            <option value="value">text1</option>
                                            <option value="value">text2</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Custom Tool</th>
                                    <td><input type="text" name="tool" value="" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">Custom Tool Namespace</th>
                                    <td><input type="text" name="namespace" value="" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">File Name</th>
                                    <td><input type="text" name="name" value="" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">Full Path</th>
                                    <td><input type="text" name="path" value="" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="settings">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" ng-model="isChildField">
                            <label class="form-check-label" for="flexSwitchCheckChecked">is Child Field</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">is Bulk Insert</label>
                        </div>
                    </div>

                </div>

            </ng-dock-panel>
        </div>

    </div>


    <script>
        var homeUrl = '@Url.Content("~/")';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.min.js" integrity="sha512-5zOAub3cIpqklnKmM05spv4xttemFDlbBrmRexWiP0aWV8dlayEGciapAjBQWA7lgQsxPY6ay0oIUVtY/pivXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.3/angular-sanitize.min.js" integrity="sha512-dqbRITjlgYAKHWHwL8fK7VPOsFc702ybywomtYLRcjOzBHM3WgEGN0SQQR6IJKY4ZiJiZkNguOAcFZmalk+2sA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.8.3/angular-messages.min.js" integrity="sha512-a+xgEyXVK7r+KKIDYyHtFfLi9LItmFDff6Z4/5lrGmL03u1vtFCjQXQz3dSIwOapB3YIRMBO1+IQj6ptnxAh/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-aria/1.8.3/angular-aria.min.js" integrity="sha512-674PQ5I4feceHJ9HZkcjzjRvmlpuWowIFM6RahwsCh1vrh1fxoMerr793aq2xobU9wJ9mDAgJ9d0WlP+WwZg6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.3/angular-animate.min.js" integrity="sha512-Vhup4/4s+jnmiFsp1Sg1/6jXncRbIBc+fKemYjq1n+nEXthmeASyaWnClWsAV5Sas7WbLMLNYYHw6TxwQE4oPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.2/angular-sanitize.min.js" integrity="sha512-JkCv2gG5E746DSy2JQlYUJUcw9mT0vyre2KxE2ZuDjNfqG90Bi7GhcHUjLQ2VIAF1QVsY5JMwA1+bjjU5Omabw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/js/appEditor.js")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
